/StudentManagementAppForCourse/nbproject/private/
/StudentManagementAppForCourse/build/
/StudentManagementAppDB/nbproject/private/
/StudentManagementAppDB/build/
/StudentManagementAppDB/dist/
/StudentManagementAppForCourse/dist/
/StudentManagementWebApp/nbproject/private/
/StudentManagementWebApp/build/